/* INICIO DEL CSS */

/* Css para el inicio */

/* Responsive design Celular (inicio)*/

* {
  margin: 0;
  padding: 0;
}

.body-inicio{
  background-image: url(../img/Fondo/fondo7.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.header-inicio {
  width: 100%;
  height: 50px;
  color: white;
  margin-top: 20px;
}

.contenedor-inicio {
  width: 98%;
  margin: auto;
}

.contenedor-inicio h3 a{
  float: left;
  color: white;
  text-decoration: none;
  font-size: 8vw;
  margin: 6px 10px;
}

#menu-bar-inicio {
  display: none;
}

#menu-bar-inicio:checked ~ .menu-inicio {
  transform: translateX(0%);
}

.header-inicio label {
  float: right;
  font-size: 8vw;
  margin: 6px 10px;
  cursor: pointer;
}

.header-inicio .contenedor-inicio{
  display: table;
}

.menu-inicio {
  position: absolute;
  top: 15vw;
  left: 0;
  width: 100%;
  transition: all 0.5s;
  transform: translateX(-100%);
  background-color: #5E635F;
}

.menu-inicio a{
  display: block;
  color: white;
  height: 30px;
  text-decoration: none;
  padding: 17px;
}

.main-inicio {
    margin-top: 15px;
    margin-left: 15px;
  }

.main-inicio section{
  width: 100%;
  margin-bottom: 25px;
}

.main-inicio h1 {
  color: white;
  font-size: 14vw;
  padding-top: 5%;
}

.main-inicio p{
  color: white;
  font-size: 6vw;
  padding-top: 10px;
}

.main-inicio h3{
  color: white;
  padding-top: 30px;
  font-size: 8vw;
}

#img1-inicio{
  width: 100%;
  height: 40%;
  margin: auto;
}

.social-inicio ul{
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
}

.social-inicio li{
  float: left;
  padding-top: 10px;
}

.social-inicio a{
  color: white;
  text-decoration: none;
  padding-top: 100px;
  margin-left: 30px;
  font-size: 6vw;
}

.menu-inicio a:hover{
  background-color: gray;
}

.menu-inicio h3 a:hover{
  background-color: gray;
  color: black;
}

/* Fin de responsive design Celular (inicio)*/

/* Responsive design Desktops and Laptops (inicio)*/

@media only screen and (min-width:1224px) {

.body-inicio{
    width: 85%;
    margin: 0 auto;
  }

.contenedor-inicio {
  overflow: hidden;
}

.contenedor-inicio h3 a{
  float: left;
  font-size: 1.7vw;
  margin-top: 15px;
}

.contenedor-inicio h3 a:hover{
    background-color: gray;
    color: black;
}

#menu-bar-inicio {
  display: none;
}

.header-inicio label {
  display: none;
}

.menu-inicio{
  position: static;
  transform: translateX(0%);
  display: contents;
  overflow: hidden;
}

.menu-inicio li{
  float: left;
  list-style: none;
}

.menu-inicio a{
  font-size: 1.5vw;
  width: auto;
  height: auto;
  border: none;
}

.main-inicio {
    margin-top: 8%;;
    margin-left: 8%;
  }

.main-inicio h1 {
  font-size: 6vw;
  padding-top: 5%;
}

.main-inicio p{
  font-size: 2vw;
  padding-top: 3%;
}

.main-inicio h3{
  padding-top: 30px;
  font-size: 3vw;
}

#img1-inicio{
  width: 200%;
  height: 420px;
}

.social-inicio a{
  font-size: 3vw;
}

.section-inicio{
  width: 50%;
  float: left;
}

.section-inicio h3{
  text-decoration: underline;
  text-emphasis-color: white;
}

.img-final-inicio {
  float: left;
  width: 30%;
}

.menu-inicio a:hover{
  background-color: gray;
}

}

/* Fin de responsive design Desktops and Laptos (inicio)*/

/* Fin del css para el inicio */





/* Comienzo del css para contacto */

/* Responsive design Celular (contacto)*/

.body-contacto{
  background-image: url(../img/fondo/fondo-contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.contenedor-contacto {
  overflow: hidden;
}

.header-contacto{
  background-color: black;
  width: 80%;
  margin: 0px auto;
  color: white;
  margin-top: 20px;
}

.header-contacto h3 a{
  float: left;
  color: white;
  text-decoration: none;
  font-size: 8vw;
  margin: 10px 20px;
}

.header-contacto a:hover{
  background-color: #58575A;
  color: black;
}

#menu-bar-contacto {
  display: none;
}

#menu-bar-contacto:checked ~ .menu-contacto {
  transform: translateX(0%);
}

.header-contacto label {
  float: right;
  font-size: 8vw;
  margin: 10px 20px;
  cursor: pointer;
}

.menu-contacto {
  position: absolute;
  top: 32vw;
  left: 0;
  width: 80%;
  margin-left: 10vw;
  transition: all 0.5s;
  transform: translateX(-120%);
  background-color: #5E635F;
}

.menu-contacto li{
  list-style: none;
}

.menu-contacto a{
  display: block;
  color: white;
  height: 1vh;
  text-decoration: none;
  padding: 28px;
  font-size: 3vw;
}

#img1-contacto{
  width: 35%;
  float: left;
  position: inherit;
  padding-top: 18px;
  margin-top: -10px;
}

#img2-contacto{
  width: 20%;
  float: left;
  position: relative;
  top: 2vw;
  left: 30vw;
}

.formulario-contacto{
  width: 80%;
  margin: 0 auto;
  padding: 1em;
}

.formulario-contacto label{
  padding: 1em;
  font-size: 3vw;
}


.formulario-contacto input{
  width: 100%;
  padding: 0.5em;
  border: none;
  background: none;
  border-bottom: 1px solid black;
  color: black;
  font-size: 3vw;
  outline: 0;
}

.formulario-contacto textarea{
  width: 100%;
  padding: 1em;
  border: none;
  background: none;
  border-bottom: 1px solid black;
  color: black;
  font-size: 2vw;
  outline: 0;
}

::placeholder{
  color: white;
}

.contener-contacto h1{
  width: 80%;
  margin: auto;
  color: black;
  font-size: 7vw;
  text-align: center;
}

.contener-contacto span{
  color: #0D3C17;
}

.contacto-general{
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
  width: 80%;
  margin: 0px auto;
}

.contacto-general > *{
  padding: 1em;
}

.button-contacto button{
  background-color: black;
  color: #0D3C17;
  width: 100%;
  height: 6vw;
  font-size: 3vw;
}

.button-contacto button:hover{
  background-color: #5E635F;
  color: black;
}

iframe{
  width: 80%;
  height: 25vw;
}

.mas-info-contacto h4{
  text-decoration: underline;
  text-decoration-color: #0D3C17;
  font-size: 4vw;
}

.mas-info-contacto {
  text-align: center;
  margin: 0 0 1rem 0;
}

.mas-info-contacto ul{
  list-style: none;
  padding: 0;
}

.mas-info-contacto ul li{
  padding: .3em;
  font-size: 3vw;
}

.fa-map-marker-alt,
.fa-mobile-alt,
.fa-envelope{
  color: #0D3C17;
  font-size: 4vw;
}

.texto-contacto{
  font-size: 3vw;
}

.texto-contacto-subr{
  text-decoration: underline;
  text-decoration-color: #0D3C17;
  font-size: 3vw;
}

/* Fin de responsive design Celular (contacto)*/

/* Responsive design Desktops and Laptops (contacto)*/

@media only screen and (min-width:1224px){

.header-contacto {
    width: 85%;
    height: 18vw;
}

.contenedor-contacto {
  overflow: hidden;
}

.header-contacto h3 a{
    font-size: 1.6vw;
    padding: 15px;
  }

.header-contacto h3 a:hover{
    background-color: #58575A;
    color: black;
  }

  .header-contacto li a:hover{
      background-color: #58575A;
      color: white;
      padding: 20px;
    }

  #menu-bar-contacto {
    display: none;
  }

  #menu-bar-contacto:checked ~ .menu-contacto {
    display: none;
  }

  .header-contacto label {
    display: none;
  }

  .menu-contacto {
    position: static;
    transform: translateX(0%);
    display: contents;
    overflow: hidden;
  }

  .menu-contacto li{
    float: left;
    list-style: none;
  }

  .menu-contacto a{
    font-size: 1.2vw;
    width: auto;
    height: auto;
    border: none;
  }

  #img1-contacto{
    width: 35%;
    float: left;
    position: inherit;
  }

  #img2-contacto{
    width: 20%;
    float: right;
    position: static;
    margin-right: 5vw;
  }

  .formulario-contacto{
    width: 85%;
    margin: 0 auto;
    padding: 1em;
    margin-top: 20px;
  }

  .formulario-contacto label{
    font-size: 1.8vw;
    margin-top: 20px;
  }

  .formulario-contacto label span{
    color: #0D3C17;
  }

  .formulario-contacto form input{
    width: 80%;
    margin: 0;
    font-size: 1.8vw;
    padding: .3em;
  }

  .formulario-contacto button{
    width: 70%;
    padding: .5em;
    outline: 0;
  }

  .formulario-contacto textarea{
    width: 90%;
    outline: 0;
    padding: .3em;
  }

  .formulario-contacto form{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .block-contacto{
   grid-column: 1 / 3;
   margin-top: 40px;
  }

  .contacto-general{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .7);
    width: 85%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .button-contacto button{
    background-color: black;
    color: #0D3C17;
    width: 92%;
    height: 8vw;
    font-size: 3vw;
    outline: 0;
    margin-top: 70px;
  }

  .button-contacto button:hover{
    background-color: #5E635F;
    color: black;
  }

  iframe{
    width: 80%;
    height: 300%;
    margin: 30px;
  }

  .mas-info-contacto{
    background: black;
    color: white;
  }

  .mas-info-contacto h4{
    font-size: 3vw;
  }

  .mas-info-contacto {
    text-align: center;
    margin: 0 0 1rem 0;
  }

  .mas-info-contacto ul{
    list-style: none;
    padding: 20px;
  }

  .mas-info-contacto ul li{
    padding: .3em;
    font-size: 2vw;
  }

  .fa-map-marker-alt,
  .fa-mobile-alt,
  .fa-envelope{
    color: #0D3C17;
    font-size: 2vw;
  }

  .texto-contacto{
    margin-top: 20px;
  }

  .div-form-contacto{
    margin-top: 40px;
  }
}

/* Fin de responsive design Desktops and Laptos (contacto)*/

/* Fin del css para contacto */





/* Comienzo del css para acerca */

/* Responsive design Celular (acerca)*/

.body-acerca{
  background-image: url(../img/fondo/fondo-acercas-cel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 180vw;
}

.conteder-acerca{
  overflow: hidden;
}

.contenedor-acerca h3 a{
  float: left;
  color: white;
  margin: 20px 20px;
  font-size: 8vw;
  text-decoration: none;
}

#menu-bar-acerca{
  display: none;
}

.contenedor-acerca label{
  color: white;
  font-size: 8vw;
  float: right;
  margin: 20px 20px;
  cursor: pointer;
}

.header-acerca a:hover{
  background-color: #58575A;
  color: black;
}

#menu-bar-acerca:checked ~ .menu-acerca {
  transform: translateX(0%);
}

.menu-acerca {
  position: absolute;
  top: 68vw;
  left: 20px;
  width: 90%;
  transition: all 0.5s;
  transform: translateX(-120%);
  background-image: url(../img/fondo/imagen-menu-acercas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-acerca li{
  list-style: none;
}

.menu-acerca a{
  display: block;
  color: white;
  height: 1vh;
  text-decoration: none;
  padding: 28px;
  font-size: 5vw;
}

#img-principal-acerca{
  width: 90%;
  display: block;
  margin: auto;
}

.contenedor-final-acerca {
  margin-left: 20px;
  width: 90%;
}

.contenedor-final-acerca h1{
  color: white;
  font-size: 10vw;
  padding-top: 20px;
  padding-bottom: 10px;
}

.contenedor-final-acerca p{
  text-align: center;
  color: white;
  font-size: 7vw;
}

.contenedor-final-acerca h3{
  color: white;
  font-size: 6vw;
  padding-top: 10px;
  text-align: center;
}

/* Fin de responsive design Celular (acerca) */

/* Responsive design Desktops and Laptops (acerca)*/

@media only screen and (min-width:1224px){

  .body-acerca{
    background-image: url(../img/fondo/fondo-acerca.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  .contenedor-acerca {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    height: 5vw;
  }

  .header-acerca h3 a{
      float: left;
      font-size: 1.6vw;
      color: black;
      padding-top: 5px;
    }

  .header-acerca h3 a:hover{
      background-color: #58575A;
      color: white;
      padding: 5px;
    }

    .header-acerca li a{
      font-size: 1.2vw;
      color: black;
    }

    .header-acerca li a:hover{
        background-color: #58575A;
        color: white;
        padding: 25px 20px;
      }

    #menu-bar-acerca {
      display: none;
    }

    #menu-bar-acerca:checked ~ .menu-acerca {
      display: none;
    }

    .header-acerca label {
      display: none;
    }

    .menu-acerca {
      position: static;
      transform: translateX(0%);
      display: contents;
      overflow: hidden;
    }

    .menu-acerca li{
      float: right;
      list-style: none;
    }

    .menu-acerca a{
      font-size: 1.2vw;
      width: auto;
      height: auto;
      border: none;
    }

    #img-principal-acerca{
      display: none;
    }

    .contenedor-final-acerca {
      margin-left: 20px;
      width: 28%;
    }

    .contenedor-final-acerca h1{
      color: black;
      font-size: 4vw;
      padding-top: 40px;
      padding-bottom: 20px;
    }

    .contenedor-final-acerca p{
      text-align: left;
      color: black;
      font-size: 2vw;
      padding-top: 10px;
    }

    .contenedor-final-acerca h3{
      color: black;
      font-size: 2vw;
      padding-top: 20px;
      text-align: left;
    }

}

/* Fin de responsive design Desktops and Laptos (acerca)*/

/* Fin del css para acerca */

.body-preguntas{
  background-color: black;
  width: 100%;
  height: 180vw;
}

.header-preguntas{
  width: 100%;
  height: 20vw;
}

.conteder-preguntas{
  overflow: hidden;
}

.contenedor-preguntas h3 a{
  float: left;
  color: white;
  margin: 20px 20px;
  font-size: 8vw;
  text-decoration: none;
}

#menu-bar-preguntas{
  display: none;
}

.contenedor-preguntas label{
  color: white;
  font-size: 8vw;
  float: right;
  margin: 20px 20px;
  cursor: pointer;
}

.header-preguntas a:hover{
  background-color: #58575A;
  color: black;
}

#menu-bar-preguntas:checked ~ .menu-preguntas {
  transform: translateX(0%);
}

.menu-preguntas {
  position: absolute;
  top: 20vw;
  width: 90%;
  transition: all 0.5s;
  transform: translateX(-120%);
  background-color: black;
  color: white;
}

.menu-preguntas li{
  list-style: none;
}

.menu-preguntas a{
  display: block;
  color: white;
  height: 1vh;
  text-decoration: none;
  padding: 28px;
  font-size: 5vw;
}

.titulo-preguntas{
  color: white;
  font-size: 11vw;
  margin-top: 20px;
  padding: 3px;
}

.preg{
  color: white;
}

.resp{
  color: white;
}

#img-preguntas{
  display: block;
  margin: 0 auto;
}


/* Comienzo del css para preguntas */

/* Responsive design Celular (preguntas)*/



/* Fin de responsive design Celular (preguntas)*/

/* Responsive design Desktops and Laptos (preguntas)*/



/* Fin de responsive design Desktops and Laptos (preguntas)*/

/* Fin del css para preguntas */

/* FIN DEL CSS */
