/* Css para el inicio */

/* Responsive design Celular */

* {
  margin: 0;
  padding: 0;
}

.body-inicio{
  background-image: url(../img/Fondo/fondo7.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.header-inicio {
  width: 100%;
  height: 50px;
  color: white;
  margin-top: 20px;
}

.contenedor-inicio {
  width: 98%;
  margin: auto;
}

.contenedor-inicio h3 a{
  float: left;
  color: white;
  text-decoration: none;
  font-size: 8vw;
  margin: 6px 10px;
}

#menu-bar-inicio {
  display: none;
}

#menu-bar-inicio:checked ~ .menu {
  transform: translateX(0%);
}

.header-inicio label {
  float: right;
  font-size: 8vw;
  margin: 6px 10px;
  cursor: pointer;
}

.header-inicio .contenedor-inicio{
  display: table;
}

.menu-inicio {
  position: absolute;
  top: 15vw;
  left: 0;
  width: 100%;
  transition: all 0.5s;
  transform: translateX(-100%);
  background-color: #5E635F;
}

.menu-inicio a{
  display: block;
  color: white;
  height: 30px;
  text-decoration: none;
  padding: 17px;
}

.main-inicio {
    margin-top: 15px;
    margin-left: 15px;
  }

.main-inicio section{
  width: 100%;
  margin-bottom: 25px;
}

.main-inicio h1 {
  color: white;
  font-size: 14vw;
  padding-top: 5%;
}

.main-inicio p{
  color: white;
  font-size: 6vw;
  padding-top: 10px;
}

.main-inicio h3{
  color: white;
  padding-top: 30px;
  font-size: 8vw;
}

#img1-inicio{
  width: 100%;
  height: 40%;
  margin: auto;
}

.social-inicio ul{
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
}

.social-inicio li{
  float: left;
  padding-top: 10px;
}

.social-inicio a{
  color: white;
  text-decoration: none;
  padding-top: 100px;
  margin-left: 30px;
  font-size: 6vw;
}

.menu-inicio a:hover{
  background-color: gray;
}

.menu-inicio h3 a:hover{
  background-color: gray;
  color: black;
}

/* Fin de responsive design Celular */

/* Responsive design Desktops and Laptops */

@media only screen and (min-width:1224px) {

.body-inicio{
    width: 85%;
    margin: 0 auto;
  }

.contenedor-inicio {
  overflow: hidden;
}

.contenedor-inicio h3 a{
  float: left;
  font-size: 1.7vw;
  margin-top: 15px;
}

.contenedor-inicio h3 a:hover{
    background-color: gray;
    color: black;
}

#menu-bar-inicio {
  display: none;
}

.header-inicio label {
  display: none;
}

.menu-inicio{
  position: static;
  transform: translateX(0%);
  display: contents;
  overflow: hidden;
}

.menu-inicio li{
  float: left;
  list-style: none;
}

.menu-inicio a{
  font-size: 1.5vw;
  width: auto;
  height: auto;
  border: none;
}

.main-inicio {
    margin-top: 8%;;
    margin-left: 8%;
  }

.main-inicio h1 {
  font-size: 6vw;
  padding-top: 5%;
}

.main-inicio p{
  font-size: 2vw;
  padding-top: 3%;
}

.main-inicio h3{
  padding-top: 30px;
  font-size: 3vw;
}

#img1-inicio{
  width: 200%;
  height: 420px;
  padding-top: 18%;
}

.social-inicio a{
  font-size: 3vw;
}

.section-inicio{
  width: 50%;
  float: left;
}

.section-inicio h3{
  text-decoration: underline;
  text-emphasis-color: white;
}

.img-final-inicio {
  float: left;
  width: 30%;
}

.menu-inicio a:hover{
  background-color: gray;
}

}

/* Fin de responsive design Desktops and Laptos */

/* Fin del css para el inicio */





/* Comienzo del css para contacto */

.body-contacto{
  background-image: url(../img/fondo/fondo-contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.contenedor-contacto {
  overflow: hidden;
}

.header-contacto{
  background-image: url(../img/Fondo/fondo7.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  margin: 0px auto;
  height: 1%;
  color: white;
  margin-top: 20px;
}

.header-contacto h3 a{
  float: left;
  color: white;
  text-decoration: none;
  font-size: 8vw;
  margin: 10px 20px;
}

.header-contacto a:hover{
  background-color: #58575A;
  color: black;
}

#menu-bar-contacto {
  display: none;
}

#menu-bar-contacto:checked ~ .menu-contacto {
  transform: translateX(0%);
}

.header-contacto label {
  float: right;
  font-size: 8vw;
  margin: 10px 20px;
  cursor: pointer;
}

.menu-contacto {
  position: absolute;
  top: 32vw;
  left: 0;
  width: 80%;
  margin-left: 10vw;
  transition: all 0.5s;
  transform: translateX(-120%);
  background-color: #5E635F;
}

.menu-contacto li{
  list-style: none;
}

.menu-contacto a{
  display: block;
  color: white;
  height: 1vh;
  text-decoration: none;
  padding: 28px;
  font-size: 3vw;
}

#img1-contacto{
  width: 35%;
  float: left;
  position: relative;
  top: 2vw;
}

#img2-contacto{
  width: 20%;
  float: left;
  position: relative;
  top: 2vw;
  left: 30vw;
}

.formulario-contacto{
  width: 80%;
  margin: 0 auto;
  padding: 1em;
}

.formulario-contacto label{
  padding: 1em;
  font-size: 3vw;
}


.formulario-contacto input{
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  border-bottom: 1px solid black;
  color: black;
  font-size: 3vw;
}

.formulario-contacto textarea{
  width: 100%;
  padding: 1em;
  border: none;
  background: none;
  border-bottom: 1px solid black;
  color: black;
  font-size: 2vw;
}

::placeholder{
  color: white;
}

.contener-contacto h1{
  width: 80%;
  margin: auto;
  color: black;
  font-size: 7vw;
  text-align: center;
}

.contener-contacto span{
  color: #0D3C17;
}

.contacto-general{
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
  width: 80%;
  margin: 0px auto;
}

.contacto-general > *{
  padding: 1em;
}

.button-contacto button{
  background-color: black;
  color: #0D3C17;
  width: 100%;
  height: 6vw;
  font-size: 3vw;
}

.button-contacto button:hover{
  background-color: #0D3C17;
  color: black;
}

iframe{
  width: 80%;
  height: 300%;
}

.mas-info-contacto h4{
  text-decoration: underline;
  text-decoration-color: #0D3C17;
  font-size: 4vw;
}

.mas-info-contacto {
  text-align: center;
  margin: 0 0 1rem 0;
}

.mas-info-contacto ul{
  list-style: none;
  padding: 0;
}

.mas-info-contacto ul li{
  padding: .3em;
  font-size: 3vw;
}

.fa-map-marker-alt,
.fa-mobile-alt,
.fa-envelope{
  color: #0D3C17;
  font-size: 4vw;
}

.texto-contacto{
  font-size: 3vw;
}

.texto-contacto-subr{
  text-decoration: underline;
  text-decoration-color: #0D3C17;
  font-size: 3vw;
}

/* Responsive design Desktops and Laptops */

@media only screen and (min-width:1224px){

.header-contacto {
    width: 85%;
    height: 18vw;
}

.contenedor-contacto {
  overflow: hidden;
}

.header-contacto h3 a{
    font-size: 1.6vw;
    padding: 15px;
  }

.header-contacto h3 a:hover{
    background-color: #58575A;
    color: black;
  }

  .header-contacto li a:hover{
      background-color: #58575A;
      color: white;
      padding: 20px;
    }

  #menu-bar-contacto {
    display: none;
  }

  #menu-bar-contacto:checked ~ .menu-contacto {
    display: none;
  }

  .header-contacto label {
    display: none;
  }

  .menu-contacto {
    position: static;
    transform: translateX(0%);
    display: contents;
    overflow: hidden;
  }

  .menu-contacto li{
    float: left;
    list-style: none;
  }

  .menu-contacto a{
    font-size: 1.2vw;
    width: auto;
    height: auto;
    border: none;
  }

  #img1-contacto{
    width: 35%;
    float: left;
    position: static;
  }

  #img2-contacto{
    width: 20%;
    float: right;
    position: static;
    margin-right: 5vw;
  }

  .formulario-contacto{
    width: 80%;
    margin: 0 auto;
    padding: 1em;
  }

  .formulario-contacto label{
    padding: 1em;
  }


  .formulario-contacto input{
    width: 100%;
    padding: 1em;
    border: none;
    background: none;
    border-bottom: 1px solid black;
    color: black;
    font-size: 3vw;
  }

  .formulario-contacto textarea{
    width: 100%;
    padding: 1em;
    border: none;
    background: none;
    border-bottom: 1px solid black;
    color: black;
    font-size: 2vw;
  }

  ::placeholder{
    color: white;
  }

  .contener-contacto h1{
    width: 80%;
    margin: auto;
    color: black;
    font-size: 7vw;
    text-align: center;
  }

  .contener-contacto span{
    color: #0D3C17;
  }

  .contact-general{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    width: 80%;
    margin: 0px auto;
  }

  .contact-general > *{
    padding: 1em;
  }

  .button-contacto button{
    background-color: black;
    color: #0D3C17;
    width: 100%;
    height: 6vw;
    font-size: 3vw;
  }

  .button-contacto:hover{
    background-color: #0D3C17;
    color: black;
  }

  iframe{
    width: 80%;
    height: 300%;
  }

  .mas-info-contacto h4{
    text-decoration: underline;
    text-decoration-color: #0D3C17;
    font-size: 4vw;
  }

  .mas-info-contacto {
    text-align: center;
    margin: 0 0 1rem 0;
  }

  .mas-info-contacto ul{
    list-style: none;
    padding: 0;
  }

  .mas-info-contacto ul li{
    padding: .3em;
    font-size: 3vw;
  }

  .fa-map-marker-alt,
  .fa-mobile-alt,
  .fa-envelope{
    color: #0D3C17;
    font-size: 4vw;
  }

  .texto-contacto{
    font-size: 3vw;
  }

}

/* Fin del responsive design Desktops and Laptops */

/* Fin del css para contacto */
